body{
    background-color: #1b1e28;
}

.bg-widget{
    background-color: #232633;
}

.ico-img {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    transform: scale(1.1);
    color: #232633;
}